  .italics{ font-style: italic;}
  
  main{color: rgb(rgb(238, 172, 18), green, blue);}

  .indexfont{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large; font-style: rgb(rgb(228, 165, 47), green, blue);}
  .aboutfont{text-decoration: underline;}
  .bgc{background-color: burlywood;}
  .ibgc{background-color: beige;}