.tbgc{background-color: cadetblue;}
p{font-size: larger; text-decoration: dashed; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
center{font-size: larger; text-decoration: overline; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}